<div
  class="flex mt-5 mb-10 m-auto bg-gray-50 justify-around items-center h-12 shadow-lg rounded-lg w-9/12"
>
  <div>
    <button mat-button [matMenuTriggerFor]="categoryMenu">
      Show in category
    </button>
    <mat-menu #categoryMenu="matMenu">
      <button mat-menu-item (click)="onChangeFilters('all')">All</button>
      <button
        mat-menu-item
        *ngFor="let category of categories"
        (click)="onChangeFilters(category)"
      >
        {{ category | titlecase }}
      </button>
    </mat-menu>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      Shown <b>{{ itemsShowSize }}</b> items
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onChangeSize('6')">6</button>
      <button mat-menu-item (click)="onChangeSize('12')">12</button>
      <button mat-menu-item (click)="onChangeSize('24')">24</button>
      <button mat-menu-item (click)="onChangeSize('30')">30</button>
    </mat-menu>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuSort">
      Sorted by {{ sort }}
    </button>
    <mat-menu #menuSort="matMenu">
      <button mat-menu-item (click)="onSortChange('desc')">Descending</button>
      <button mat-menu-item (click)="onSortChange('asc')">Ascending</button>
    </mat-menu>
  </div>
  <div>
    <button mat-button (click)="openAddDialog()">
      <mat-icon
        aria-hidden="false"
        class="text-lime-700"
        aria-label="Example home icon"
        fontIcon="add"
      >
      </mat-icon>
    </button>
  </div>
</div>
